<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Create Button --}}
<a href="/restaurants/new" class="create-button badge rounded-pill" id="create-button">
  <i class="fa-solid fa-plus fa-2xl" style="color: #bc2e0b;"></i>
</a>


<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="row d-flex justify-content-around">
        {{#each restaurants}}

        <div class="card col-3 me-1 mb-5">
          <a href="/restaurants/{{this.id}}" class="text-secondary">
            <img class="card-img-top mt-3" src="{{this.image}}" alt="">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
          </a>

          <div class="card-footer bg-transparent d-flex justify-content-around">
            {{!-- Edit Button --}}
            <a href="/restaurants/{{this.id}}/edit" class="m-1">
              <i class="fa-solid fa-pen fa-xl" style="color: #bc2e0b"></i>
            </a>
            {{!-- Delete Button --}}
            <form action="/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline">
              <button class="bg-transparent border border-0">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #bc2e0b"></i>
              </button>
            </form>
          </div>

        </div>


        {{/each}}
      </div>
    </div>
  </div>
</div>